<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row"><div class="col-lg-12"><div class="ibox float-e-margins">
        <div class="ibox-title"><h5 langtag="page-clientlist"></h5><div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a><a class="close-link"><i class="fa fa-times"></i></a></div></div>
        <div class="content"><div class="table-responsive"><div id="toolbar">{{client_add_button}}</div><table id="table"></table></div></div>
    </div></div></div>
</div>
<script>
window.rustnpsIsAdmin = {{is_admin}};
var clientListTableOptions = window.npsTableState ? window.npsTableState.bootstrapOptions('client-list', {
    toolbar:"#toolbar", method:"post", url:"{{base}}/client/list", contentType:"application/x-www-form-urlencoded",
    striped:true, search:true, showHeader:true, showColumns:true, showRefresh:true, pagination:true, sidePagination:"server",
    pageList:[5,10,20,50], detailView:true, smartDisplay:true,
    onExpandRow:function(){ $("body").setLang(".detail-view"); },
    onPostBody:function(){ $("body").setLang("#table"); },
    detailFormatter:function(index,row){
        return '<b langtag="word-maxconnections"></b>: '+row.MaxConn+'&emsp;'
        + '<b langtag="word-curconnections"></b>: '+row.NowConn+'&emsp;'
        + '<b langtag="word-flowlimit"></b>: '+row.Flow.FlowLimit+'m&emsp;'
        + '<b langtag="word-ratelimit"></b>: '+row.RateLimit+'KB/s&emsp;<br><br>'
        + '<b langtag="word-webusername"></b>: '+row.WebUserName+'&emsp;'
        + '<b langtag="word-webpassword"></b>: '+row.WebPassword+'&emsp;'
        + '<b langtag="word-basicusername"></b>: '+row.Cnf.U+'&emsp;'
        + '<b langtag="word-basicpassword"></b>: '+row.Cnf.P+'&emsp;<br><br>'
        + '<b langtag="word-commandclient"></b>: <code>./npc -server='+row.Command.Server+' -vkey='+row.VerifyKey+' -type=tcp</code>';
    },
    columns:[
        {field:"Id", title:'<span langtag="word-id"></span>', sortable:true},
        {field:"Remark", title:'<span langtag="word-remark"></span>'},
        {field:"Version", title:'<span langtag="word-version"></span>'},
        {field:"VerifyKey", title:'<span langtag="word-verifykey"></span>'},
        {field:"Addr", title:'<span langtag="word-address"></span>'},
        {field:"InletFlow", title:'<span langtag="word-inletflow"></span>', formatter:function(v,row){ return changeunit(row.Flow.InletFlow); }},
        {field:"ExportFlow", title:'<span langtag="word-exportflow"></span>', formatter:function(v,row){ return changeunit(row.Flow.ExportFlow); }},
        {field:"Status", title:'<span langtag="word-status"></span>', formatter:function(v){ return v ? '<span class="badge badge-primary" langtag="word-open"></span>' : '<span class="badge badge-badge" langtag="word-close"></span>'; }},
        {field:"IsConnect", title:'<span langtag="word-connect"></span>', formatter:function(v){ return v ? '<span class="badge badge-primary" langtag="word-online"></span>' : '<span class="badge badge-badge" langtag="word-offline"></span>'; }},
        {field:"option", title:'<span langtag="word-option"></span>', formatter:function(v,row){
            let btn='<div class="btn-group">';
            if (window.rustnpsIsAdmin) {
                btn += row.Status ? '<a onclick="submitform(\'stop\', \'{{base}}/client/changestatus\', {id:' + row.Id + ', status:0})" class="btn btn-outline btn-warning"><i class="fa fa-pause"></i></a>' : '<a onclick="submitform(\'start\', \'{{base}}/client/changestatus\', {id:' + row.Id + ', status:1})" class="btn btn-outline btn-primary"><i class="fa fa-play"></i></a>';
                btn += '<a onclick="submitform(\'delete\', \'{{base}}/client/del\', {id:' + row.Id + '})" class="btn btn-outline btn-danger"><i class="fa fa-trash"></i></a>';
            }
            btn += '<a href="{{base}}/client/edit?id='+row.Id+'" class="btn btn-outline btn-success"><i class="fa fa-edit"></i></a>';
            btn += '<a href="{{base}}/index/all?client_id='+row.Id+'" class="btn btn-outline btn-primary" langtag="word-tunnel"></a>';
            btn += '<a href="{{base}}/index/hostlist?client_id='+row.Id+'" class="btn btn-outline btn-success" langtag="word-host"></a></div>';
            return btn;
        }}
    ]
}) : {
    toolbar:"#toolbar", method:"post", url:"{{base}}/client/list", contentType:"application/x-www-form-urlencoded",
    striped:true, search:true, showHeader:true, showColumns:true, showRefresh:true, pagination:true, sidePagination:"server",
    pageList:[5,10,20,50], detailView:true, smartDisplay:true,
    onExpandRow:function(){ $("body").setLang(".detail-view"); },
    onPostBody:function(){ $("body").setLang("#table"); },
    detailFormatter:function(index,row){
        return '<b langtag="word-maxconnections"></b>: '+row.MaxConn+'&emsp;'
        + '<b langtag="word-curconnections"></b>: '+row.NowConn+'&emsp;'
        + '<b langtag="word-flowlimit"></b>: '+row.Flow.FlowLimit+'m&emsp;'
        + '<b langtag="word-ratelimit"></b>: '+row.RateLimit+'KB/s&emsp;<br><br>'
        + '<b langtag="word-webusername"></b>: '+row.WebUserName+'&emsp;'
        + '<b langtag="word-webpassword"></b>: '+row.WebPassword+'&emsp;'
        + '<b langtag="word-basicusername"></b>: '+row.Cnf.U+'&emsp;'
        + '<b langtag="word-basicpassword"></b>: '+row.Cnf.P+'&emsp;<br><br>'
        + '<b langtag="word-commandclient"></b>: <code>./npc -server='+row.Command.Server+' -vkey='+row.VerifyKey+' -type=tcp</code>';
    },
    columns:[
        {field:"Id", title:'<span langtag="word-id"></span>', sortable:true},
        {field:"Remark", title:'<span langtag="word-remark"></span>'},
        {field:"Version", title:'<span langtag="word-version"></span>'},
        {field:"VerifyKey", title:'<span langtag="word-verifykey"></span>'},
        {field:"Addr", title:'<span langtag="word-address"></span>'},
        {field:"InletFlow", title:'<span langtag="word-inletflow"></span>', formatter:function(v,row){ return changeunit(row.Flow.InletFlow); }},
        {field:"ExportFlow", title:'<span langtag="word-exportflow"></span>', formatter:function(v,row){ return changeunit(row.Flow.ExportFlow); }},
        {field:"Status", title:'<span langtag="word-status"></span>', formatter:function(v){ return v ? '<span class="badge badge-primary" langtag="word-open"></span>' : '<span class="badge badge-badge" langtag="word-close"></span>'; }},
        {field:"IsConnect", title:'<span langtag="word-connect"></span>', formatter:function(v){ return v ? '<span class="badge badge-primary" langtag="word-online"></span>' : '<span class="badge badge-badge" langtag="word-offline"></span>'; }},
        {field:"option", title:'<span langtag="word-option"></span>', formatter:function(v,row){
            let btn='<div class="btn-group">';
            if (window.rustnpsIsAdmin) {
                btn += row.Status ? '<a onclick="submitform(\'stop\', \'{{base}}/client/changestatus\', {id:' + row.Id + ', status:0})" class="btn btn-outline btn-warning"><i class="fa fa-pause"></i></a>' : '<a onclick="submitform(\'start\', \'{{base}}/client/changestatus\', {id:' + row.Id + ', status:1})" class="btn btn-outline btn-primary"><i class="fa fa-play"></i></a>';
                btn += '<a onclick="submitform(\'delete\', \'{{base}}/client/del\', {id:' + row.Id + '})" class="btn btn-outline btn-danger"><i class="fa fa-trash"></i></a>';
            }
            btn += '<a href="{{base}}/client/edit?id='+row.Id+'" class="btn btn-outline btn-success"><i class="fa fa-edit"></i></a>';
            btn += '<a href="{{base}}/index/all?client_id='+row.Id+'" class="btn btn-outline btn-primary" langtag="word-tunnel"></a>';
            btn += '<a href="{{base}}/index/hostlist?client_id='+row.Id+'" class="btn btn-outline btn-success" langtag="word-host"></a></div>';
            return btn;
        }}
    ]
};
$("#table").bootstrapTable(clientListTableOptions);
</script>
