<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RustNps Login</title>
    <link href="{{base}}/static/css/fontawesome.min.css" rel="stylesheet">
    <link href="{{base}}/static/css/solid.min.css" rel="stylesheet">
    <link href="{{base}}/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{base}}/static/css/style.css" rel="stylesheet">
    <script src="{{base}}/static/js/jquery-3.4.1.min.js"></script>
    <script src="{{base}}/static/js/bootstrap.min.js"></script>
    <script src="{{base}}/static/js/language.js?v=202604292"></script>
</head>
<body class="gray-bg">
<script>window.nps = {"web_base_url":"{{base}}"};</script>
<div class="row border-bottom">
    <nav class="navbar navbar-static-top navbar-right" role="navigation" style="margin: 20px 40px">
        <div class="navbar-header"><img src="{{base}}/static/img/RustNps.png" alt="RustNps" style="height:40px; margin:0;" /></div>
        <span class="btn-group dropdown"><button id="languagemenu" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-globe-asia fa-lg"></i><span></span></button><ul class="dropdown-menu"></ul></span>
    </nav>
</div>
<div class="loginColumns animated fadeInDown mt-3 px-5">
    <div class="row">
        <div class="col-md-6 mt-3">
            <h3 langtag="info-tagline"></h3>
            <ul class="px-1 text-justify">
                <li langtag="info-feature1"></li><li langtag="info-feature2"></li><li langtag="info-feature3"></li>
                <li langtag="info-feature4"></li><li langtag="info-feature5"></li><li langtag="info-feature6"></li>
                <li langtag="info-feature7"></li><li langtag="info-feature8"></li><li langtag="info-feature9"></li>
            </ul>
        </div>
        <div class="col-md-6 mt-3">
            <div class="ibox-content">
                <form class="m-t" onsubmit="login(); return false">
                    <div class="form-group"><input name="username" class="form-control" placeholder="username" required langtag="word-username"></div>
                    <div class="form-group"><input name="password" type="password" class="form-control" placeholder="password" required langtag="word-password"></div>
                    <button onclick="login()" class="btn btn-primary block full-width m-b" langtag="word-login"></button>
                    {{register_link}}
                    <p class="text-danger">{{message}}</p>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer" style="position: unset;">
        <div class="pull-right"><img src="{{base}}/static/img/RustNps.png" alt="RustNps" style="height:24px; vertical-align:initial;" /></div>
        <div><strong langtag="word-copyright"></strong> <span langtag="application"></span> &copy; 2018-2020</div>
    </div>
</div>
<script>
function login() {
    $.ajax({
        type: "POST",
        url: "{{base}}/login/verify",
        data: $("form").serializeArray(),
        success: function (res) {
            if (res.status) window.location.href = "{{base}}/index/index";
            else alert(res.msg);
        }
    });
}
</script>
</body>
</html>
